<%= @event.name %>

<p>status:<%= @event.status %></p>

<ul>
<% @event.groups.each do |g| %>
	<li><%= g.name %></li>
<%end%>
</ul>


<p>category_name: <%= @event.category_name %></p>

<%= simple_format @event.description %>

<p><%= link_to "back to index", events_path %></p>
